<h1>All equipment</h1>
<div class="row">
    <div class="col-md-3">
    <img id="barcode" role="img" alt="Click on the barcode number to see the barcode"></img>
    </div>
    <div class="col-md-6">
        <%= will_paginate %>
        <table class="table table-hover" id="equipment-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Warranty Status</th>
                </tr>
            </thead>
            <tbody>
                <%= render @equipment || "No equipment found" %>
            </tbody>
        <%= will_paginate %>
    </div>
</div>
<!--div class="row">
    <div class="col-md-12">
        <%= debug(@equipment) %>
    </div>
</div-->
